.login-cont{
    height: 100vh;
    width: 100vw;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-cont .title{
    width: 90%;
    height: 20%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    font-size: xx-large;
    
}

.login-cont .login-sec{
    flex: 1;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.login-cont .logo-cont{
    height: 30%;
    width: 15%;
    background-image: url('../img/logo.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.login-cont .login-form{
    height: 50%;
    width: 20%;
    /* background-color: lightgreen; */
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.login-form .form{
    width: 70%;
    display: flex;
    flex-direction: column;   
}

.form label, .form input{
    margin: 5px 0px;
}

.form input{
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid lightgrey;
}

