.chat-cont{
    flex: 1;
    width: 90%;
    /* background-color: lightsalmon; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.chat-cont .chat-support{

    margin-bottom: 50px;
    background-color: #9adb59;
    color: black;
}

@media (max-width: 500px) {
    .chat-cont .chat-support{
        margin-bottom: 100px;
    }
}